<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>admin</title>
</head>
<body>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="/" role="tab"
           aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="/admin/users" role="tab"
           aria-controls="v-pills-profile" aria-selected="false">CRUD</a>
        <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="/user" role="tab"
           aria-controls="v-pills-messages" aria-selected="false">USER</a>
        <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="/logout" role="tab"
           aria-controls="v-pills-messages" aria-selected="false">LogOut</a>
    </div>
</div>
</body>
</html>
