<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br>
<div class="border shadow-sm p-3 mb-5 bg-white rounded-bottom topTable"
     style="max-width: 98%;">
    <div class="m-auto" style="max-width: 25%;">
        <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
            <div class="form-group text-center">
                <label for="firstName"><strong>First Name</strong></label>
                <input type="text" th:field="*{firstName}"
                       class="form-control form-control-sm" id="firstName" placeholder="firstName">
            </div>
            <div class="form-group text-center">
                <label for="lastName"><strong>Last Name</strong></label>
                <input type="text" th:field="*{lastName}"
                       class="form-control form-control-sm" id="lastName"
                       placeholder="lastName">
            </div>
            <div class="form-group text-center">
                <label for="Age"><strong>Age</strong></label>
                <input type="number" th:field="*{age}"
                       class="form-control form-control-sm" id="Age"
                       placeholder="Age">
            </div>
            <div class="form-group text-center">
                <label for="email"><strong>Email</strong></label>
                <input type="email" th:field="*{email}"
                       class="form-control form-control-sm" id="email"
                       placeholder="email">
            </div>
            <div class="form-group text-center">
                <label for="username"><strong>Username</strong></label>
                <input type="text" th:field="*{username}"
                       class="form-control form-control-sm" id="username"
                       placeholder="username">
            </div>
            <div class="form-group text-center">
                <label for="password"><strong>Password</strong></label>
                <input type="password"
                       th:field="*{password}"
                       class="form-control form-control-sm" id="password"
                       placeholder="password">
            </div>
                        <div class="form-group text-center">
                            <label for="roles"><strong>Role</strong></label>
                            <select multiple name="roles" required
                                    class="form-control form-control-sm" id="roles"
                                    size="2">
                                <th:block th:each="role : ${allRoles}">
                                    <option th:text="${role}"
                                            th:value="${role.getId()}"></option>
                                </th:block>
                            </select>
                        </div>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-success">Add new user
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>