<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>userCard</title>
</head>
<body>
<br>
<div class="border shadow-sm p-3 mb-5 bg-white rounded-bottom topTable"
     style="max-width: 98%;">
    <div class="m-auto" style="max-width: 25%;">
        <form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
            <div class="form-group text-center">
                <label for="addFirstName"><strong>First Name</strong></label>
                <input type="text" th:field="*{firstName}"
                       class="form-control form-control-sm" id="addFirstName" placeholder="firstName">
            </div>
            <div class="form-group text-center">
                <label for="addLastName"><strong>Last Name</strong></label>
                <input type="text" th:field="*{lastName}"
                       class="form-control form-control-sm" id="addLastName"
                       placeholder="lastName">
            </div>
            <div class="form-group text-center">
                <label for="addAge"><strong>Age</strong></label>
                <input type="number" th:field="*{age}"
                       class="form-control form-control-sm" id="addAge"
                       placeholder="Age">
            </div>
            <div class="form-group text-center">
                <label for="addEmail"><strong>Email</strong></label>
                <input type="email" th:field="*{email}"
                       class="form-control form-control-sm" id="addEmail"
                       placeholder="email">
            </div>
            <div class="form-group text-center">
                <label for="addUsername"><strong>Username</strong></label>
                <input type="text" th:field="*{username}"
                       class="form-control form-control-sm" id="addUsername"
                       placeholder="username">
            </div>
            <div class="form-group text-center">
                <label for="addPassword"><strong>Password</strong></label>
                <input type="password"
                       th:field="*{password}"
                       class="form-control form-control-sm" id="addPassword"
                       placeholder="password">
            </div>
            <div class="form-group text-center">
                <label for="addRoles"><strong>Role</strong></label>
                <select multiple name="roles" required
                        class="form-control form-control-sm" id="addRoles"
                        size="2">
                    <th:block th:each="role : ${allRoles}">
                        <option th:text="${role}"
                                th:value="${role.getId()}"></option>
                    </th:block>
                </select>
            </div>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-success">Add new user
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>