<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>User</title>
</head>
<body>
<!--navbar-dark-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
        <tr>
            <td th:text="${user.email}"></td>
            with roles:
            <td th:text="${user.roles}"></td>
        </tr>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a href="/logout" style="color: darkgray"
           class="text-decoration-none d-flex justify-content-end">Logout</a>
    </div>
</nav>
<!--navbar-dark-end-->
<br>
<div class="row">
    <!--            flex-panel-->
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" href="/" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>
    </div>
    <!--        flex-panel-end-->
    <!--    main-page-->
    <div class="col-10">
        <div class="shadow-none p-5 mb-5 bg-light rounded-0 wrap">
            <h1>User information-page</h1>
            <div class="border shadow-sm p-3 mb-5 bg-white rounded-bottom topTable"
                 style="max-width: 98%;">
                <!--                table-->
                <table class="table table-striped">
                    <thead>
                    About user
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.roles}"></td>
                    </tr>
                    </tbody>
                </table>
                <!--                table-end-->
            </div>
        </div>
        <!--    main-page-end-->
    </div>
</div>
</body>
</html>